#title{
    padding: 0 10%;
}
body{
    text-align: center;
    background-color: #8f8f8f;
}
p {
    font-weight: 600;
  }

.navbar{
    margin-top: 50px;
}
.navbar-brand{
    margin: 0 15%;
}
.nav-item{
    margin: 0 50%;
    font-weight: 600;
}
.header{
    text-align: left;
}

.btn{
    margin: 15px 15px 15px 0;
}
.big-heading{
    font-size: 4rem;
    line-height: 1.5;
    text-align: left;
    padding-top: 100px;
    color: white;
    font-weight: 700;
}
.navbar-brand{
    font-size: 2.5rem;
}


